@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,300;0,500;0,600;1,100;1,200;1,700&display=swap');

body {
  margin: 0;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.row {
  margin: 0px !important;
}
.navbar {
  font-size: x-large;
}

.nav-left {
  display: flex;
  float: right !important;
  padding-right: 2rem;
  flex-direction: row-reverse;
}

.navbar-brand {
  font-size: x-large !important;
  font-weight: 1000 !important;
}

h1 {
  font-size: 20px !important;
}

.items {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.flex-container {
  display: flex !important;
}

.btn {
  background-color: red !important;
  color: white !important;
}

select {
  box-shadow: none m !important;
  border-color: black m !important;
}
.fa-plus {
  color: green;
  margin: 5px;
}

.fa-minus {
  color: red;
  margin: 5px;
}

.fa-trash {
  color: red;
}

input {
  margin-top: 20px !important;
  box-shadow: none !important;
  padding: 2px;
  background-color: rgb(0, 0, 0);
}