@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,300;0,500;0,600;1,100;1,200;1,700&display=swap');

body {
  margin: 0;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.row {
  margin: 0px !important;
}
.navbar {
  font-size: x-large;
}

.nav-left {
  display: flex;
  float: right !important;
  padding-right: 2rem;
  flex-direction: row-reverse;
}

.navbar-brand {
  font-size: x-large !important;
  font-weight: 1000 !important;
}

h1 {
  font-size: 20px !important;
}

.items {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.flex-container {
  display: flex !important;
}

.btn {
  align-items: center;
  width: 200px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 100px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-flex;
  font-size: 1rem;
  height: auto;
  justify-content: center;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  vertical-align: top;
  border: 2px solid black;
}
.btn:hover{
  background-color: rgb(105, 107, 199);
}

select {
  margin-top: 20px !important;
  box-shadow: none !important;
  padding: 2px;
  background-color: rgba(0, 0, 0, 0.4);
}
.fa-plus {
  color: green;
  margin: 5px;
}

.fa-minus {
  color: red;
  margin: 5px;
}

.fa-trash {
  color: red;
}

input {
  margin-top: 20px !important;
  box-shadow: none !important;
  padding: 2px;
  background-color: rgba(0, 0, 0, 0.4);
}

.search{
  margin-bottom: auto;
  /* margin-top: 200px; */
  height: 50px;
  background-color: #fff;
  padding: 10px;
  border: 2px solid black;
}

.search-input{

  color: white;
  border:0;
  outline: 0;
  background: none;
  width: 0;
  /* margin-top:5px; */
  caret-color:transparent;
  /* line-height: 40px; */
  transition: width 0.4s linear;

}

.search .search-input{
  /* padding: 0 10px; */
  width: 550px;
  caret-color: #536bf6;
  font-size: 21px;
  font-weight: 300;
  color: black;
  transition: width 0.4s linear;
}

.search:hover>.search-icon{
  background:#1A237E;
  color:#fff;
}
.search-icon{

      height: 30px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #536bf6;

}
a:link{
  text-decoration: none;
}