@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,900&family=Sofia+Sans+Extra+Condensed:ital,wght@0,100;0,300;0,400;0,800;0,900;1,400;1,500;1,600;1,1000&display=swap');

.home{
  display: flex;
  height: auto;
  flex-direction: column;
  width: auto;
  overflow: hidden;
}
.trendings{
  background-color: #f1f1f1 !important;
}

.App-Home {
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .card-img-top{
    height: 350px;
    width: 200px;
  }
  .home-heading{
    color:  rgb(17, 206, 240);
    margin-top: 40px;
    margin-bottom: 60px;
    font-size: 40px;

  }
.slick-slide > div {
    margin: 0 30px;
  }
  .slick-list {
    margin: 0 -10px;
  }

  .homeFont{
    font-size: 5rem !important;
  }

  .bookCard {
    background: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    /* height: 330px; */
    color: black;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .bookCard:hover{
    transform: scale(1.02);
    box-shadow: 10px 10px 50px 10px rgb(119, 219, 236);
  }

  .bookCard-top{
    padding: 1.2rem;
  }
  .bookCard-top h1 {
    font-size: 0.9rem;
    margin: 20px;
  }
  
  .bookCard-top > img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    background: white;
  }
  
  .bookCard-bottom {
    margin: 10px 20px;
  }
  
  .category {
    position: relative;
  }
  .category::before {
    content: '';
    background: rgb(255, 61, 61);
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    right: 0;
    height: 2px;
  }
.bookpage{
  margin-top: 100px;
}
.book-align{
  width: 50vh;
  border-radius: 2vh;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.book-align:hover{
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.card-body{
  text-align: center !important;
}

.contact{
  margin-top: 50px;
  /* background-color:rgb(189, 238, 247) ; */
  background: #e8e8e8;
}
.form-area{
  padding-top: 5%;
}
.row.single-form{
  box-shadow: 0 2px 20px -5px rgba(0,0,0,0.5);
  background: #fff;
}
.left{
  background: blueviolet;
  padding: 200px 93px;
}
.left h2{
  font-family: poppins;
  color: #fff;
  font-weight: 700;
  font-size: 48px;
}
.left h2 span{
  font-weight: 100;
}
.right{
  padding: 70px 100px;
  position: relative;
}
.right i{
  position: absolute;
  font-size: 80px;
  left: -27px;
  top: 40%;
  color: #fff; 
}
.form-control{
  border: 2px solid black;
}
.form-group>label{
  margin-top: 20px;
}
.form-group>textarea{
  margin-top: 15px;
}
.right button{
  border:none;
  border-radius: 0;
  background: #252525;
  width: 180px;
  color: #fff;
  padding: 15px 0;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
}
.right button:hover{
  background: #252525;
}

@media (min-width:768px) and (max-width:991px){
  .right i{
    top: -52px;
    transform: rotate(90deg);
    left: 50%;
  }
}
@media (max-width:767px){
  .left{
    padding: 90px 15px;
    text-align: center;
  }
  .left h2{
    font-size: 25px;
  }
  .right{
    padding: 25px;
  }
  .right i{
    top: -52px;
    transform: rotate(90deg);
    left: 45%;
  }
  .right button{
    width: 150px;
    padding: 12px 0;
  }
}
.contact-content:hover{
  box-shadow: 5px 5px 30px 5px grey;
}
.contact-heading{
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  margin-left: 450px;
}
.contact-heading>h1{
  font-weight: bold;
  font-size: 60px;

}




 